@import './mixin.scss';

.myBoard-container {
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 4em 0.4em 1em 0.4em;
    gap: 0.3em;
    @include flex-center;

    .myBoard-header {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #d3d2d2;
        padding: 0.5em;
        border-radius: 10px;

        button {
            width: 2em;
            height: 2em;
            border: none;
            border-radius: 50px;
            @include flex-center;

            img {
                width: 1em;
            }
        }
    }

    .myBoard-work-details {
        width: 100%;
        @include flex-center;
        flex-direction: row;
        gap: 0.5em;

        .myBoard-work-details-date {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .myBoard-work-details-content {
            width: 80%;
            background-color: $primary-color2;
            border-radius: 20px;
            @include flex-center;
            padding: 1em 0.4em;

            .myBoard-work-details-inner {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
            }
        }
    }
}