@import './mixin.scss';

.myBoard-container {
    width: 100%;
    margin-top: 35em;
    // overflow: ac;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 1em 0.4em;
    gap: 0.2em;

    @include flex-center;

    .myBoard-work-details {
        width: 95%;
        @include flex-center;
        flex-direction: row;
        gap: 1em;

        .myBoard-work-details-date {
            font-size: 1.5rem;
        }

        .myBoard-work-details-inner {
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            border-radius: 20px;
            padding: 1em 0.4em;
            background-color: $primary-color2;
        }

        &:hover {
            .edit-div {
                display: inline;
            }
        }
    }

    .edit-div {
        display: none;

        .edit-button {
            all: unset;

            img {
                width: 2em;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}